*{
	color: white;
	text-align: center;
}
h1{
	padding-top: 50px;
	color: #D4F025;
}

.container{
	min-height: 800px;
	background:url(../img/photo1.jpg) center/cover no-repeat;
}

.works{

	color: #D4F025;

	margin-top: 40px;
	font-size: 40px;

}
.work, a{
	color: #9EF1EC;
	margin-top: 25px;
	font-size: 30px;
	
	
}
.kontakt{
	color: #9EF1EC;
	margin-top: 200px;
	font-size: 15px;

}